html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    --main-background-color: #fff;
    --gray-background-color: lightgray;

    --main-text-color: #000;
    --gray-text-color: gray;

    --accent-color: blue;

    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background-color: var(--main-background-color);

    width: 100%;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    padding: 0 32px;
    margin: 0 auto;
}

.header {
    margin-top: 16px;
}

.header__list {
    display: flex;
    gap: 24px;
    justify-content: flex-end;
    align-items: center;
}

.header__link {
    color: var(--main-text-color);
}

.header__link:hover,
.header__link:focus {
    color: var(--accent-color);
    cursor: pointer;
    transition: var(--transition);
}

.header__img {
    width: 16px;
    height: 16px;
}

.header__btn {
    display: block;
    text-align: center;
    width: 90px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 6px;
    background-color: var(--accent-color);
    color: var(--main-background-color);
}

.header__btn:hover,
.header__btn:focus {
    cursor: pointer;
    background-color: var(--main-background-color);
    color: var(--accent-color);
    border: 1px dashed var(--accent-color);
    transition: var(--transition);
}

.main {
    margin-top: 64px;
}

.main__logo {
    width: 400px;
    height: 220px;
    margin: auto;
}

.main__title {
    display: none;
    text-align: center;
    font-size: 50px;
    padding: 70px 0 32px;
    color: var(--gray-text-color);
}

.main__title:hover {
    cursor: pointer;
    color: var(--accent-color);
    transition: var(--transition);
}

.input__container {
    position: relative;
}

.main__input {
    display: block;
    margin: auto;
    width: 55%;
    height: 50px;
    padding-left: 4%;
    border: 1px solid var(--gray-background-color);
    border-radius: 20px;
    caret-color: var(--main-text-color);
    transition: var(--transition);
}

.main__input:focus {
    border-color: var(--accent-color);
    outline: 0 none;
}

.main__icon {
    position: absolute;
    left: 24%;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
}

.main__icon:hover {
    cursor: pointer;
}

.icon__list {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    gap: 30px;
}

.icon {
    width: 25px;
    height: 25px;
}

.icon:hover {
    cursor: pointer;
}

.main__wrap {
    margin-top: 36px;
    text-align: center;
}

.main__list {
    display: flex; 
    justify-content: center;  
    gap: 20px;
    margin-bottom: 36px;
}

.main__item {
    padding: 0;
}

.main__link {
    color: var(--main-text-color);
    background-color: var(--gray-background-color);
    padding: 8px 10px;
    border-radius: 6px;
}

.main__link:hover,
.main__link:focus {
    color: var(--main-background-color);
    background-color: var(--accent-color);
    transition: var(--transition);
    cursor: pointer;
}

.main__link-click {
    color: var(--main-text-color);
    background-color: var(--gray-background-color);
    padding: 8px 10px;
    border-radius: 6px;
}

.main__link-click:hover,
.main__link-click:focus {
    color: var(--main-background-color);
    background-color: var(--accent-color);
    transition: var(--transition);
    cursor: pointer;
}

.main__text {
    color: var(--main-text-color);
}

.main__span {
    color: var(--accent-color);
}

.main__span:hover {
    color: darkviolet;
    transition: var(--transition);
    cursor: pointer;
}

.footer {
    margin-top: auto;
    background-color: var(--gray-background-color);
}

.footer__title {
    font-weight: normal;
    color: var(--gray-text-color);
    font-size: 20px;
    display: block;
    padding: 16px 0 8px;
}

.footer__title:hover,
.footer__title:focus {
    cursor: pointer;
    color: var(--main-text-color);
    transition: var(--transition);
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
}

.left {
    padding: 16px 0;
}

.left__list {
    @media screen and (min-width: 720px) {
        display: flex;
        gap: 16px;
    }
}

.left__link {
    color: var(--gray-text-color);
}

.left__link:hover,
.left__link:focus {
    cursor: pointer;
    color: var(--accent-color);
    transition: var(--transition);
}

.right {
    padding: 16px 0;
}

.right__list {
    @media screen and (min-width: 720px) {
        display: flex;
        gap: 16px;
    }
}

.right__link {
    color: var(--gray-text-color);
}

.right__link:hover,
.right__link:focus {
    cursor: pointer;
    color: var(--accent-color);
    transition: var(--transition);
}